@import url("./fonts.css");
@import url("./components/navbar.css");
@import url("./components/buttons.css");
/* root */
:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --white: #ffffff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
img {
  display: flex;
  object-fit: cover;
}
main {
  flex-grow: 1;
}
/* Modifier */
.nav--header {
  margin-left: 80px;
  margin-right: auto;
}
/* Container */
.container {
  width: 100%;
  max-width: 1150px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Logo */
.logo:hover {
  opacity: 0.6;
}
.logo__img {
  width: 160px;
  height: 40px;
}
/* Header */
.header {
  padding-top: 46px;
  padding-bottom: 60px;
  background-color: #014e56;
}
.header__container {
  display: flex;
  align-items: center;
}
/* CTA */
.cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--light-coral);
  position: relative;
}
.cta__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta__title {
  color: var(--sacramento-state-green);
  font-size: 48px;
  line-height: 48px;
}
.cta__pattern {
  position: absolute;
  bottom: 0;
}
